@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');



/* Pendefinisian Variabel Warna */
:root {
    /* Unit rem */
    font-size: 16px;


    --primary-main: #F51112;
    --primary-surface: #FDECE9;
    --primary-border: #FFC1B7;
    --primary-hover: #B70C0D;
    --primary-pressed: #6D0708;
    --primary-focused: #FF2638;
    --primary-background: #0F0F0F;
    --primary-card-background: #272727;

    /* Neutral Color */
    --neutral-10: #FFFFFF;
    --neutral-20: #F5F5F5;
    --neutral-30: #EDEDED;
    --neutral-40: #E0E0E0;
    --neutral-50: #C2C2C2;
    --neutral-60: #9E9E9E;
    --neutral-70: #757575;
    --neutral-80: #616161;
    --neutral-90: #404040;
    --neutral-100: #0A0A0A;

    /* Font */
    --font-family: 'Manrope', sans-serif;

    /* Box shadow */
    --box-shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);




}

body {
    /*background-color: var(--primary-background) !important;*/
    font-family: var(--font-family) !important;
}



/* Button style  */

/* Btn Primary */
.btn-primary {
    background-color: var(--primary-main);
    padding: 0.5rem 0.75rem;
    border: none;
    font-weight: 500;
    color: var(--neutral-10);
    text-align: center;
    box-shadow: var(--box-shadow-1);
    border-radius: 6.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-primary:hover {
    background: var(--primary-hover);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}


/*btn secondary*/
/*btn outline*/
/*btn text*/
/*btn icon*/
/*action btn*/
/*rounded*/
