@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');



/* Pendefinisian Variabel Warna */
:root {
    /* Unit rem */
    font-size: 16px;


    --primary-main: #F51112;
    --primary-surface: #FDECE9;
    --primary-border: #FFC1B7;
    --primary-hover: #B70C0D;
    --primary-pressed: #6D0708;
    --primary-focused: #FF2638;
    --primary-background: #0F0F0F;
    --primary-card-background: #272727;

    /* Neutral Color */
    --neutral-10: #FFFFFF;
    --neutral-20: #F5F5F5;
    --neutral-30: #EDEDED;
    --neutral-40: #E0E0E0;
    --neutral-50: #C2C2C2;
    --neutral-60: #9E9E9E;
    --neutral-70: #757575;
    --neutral-80: #616161;
    --neutral-90: #404040;
    --neutral-100: #0A0A0A;


    /* Font */
    --font-family: 'Manrope', sans-serif;

    /* Box shadow */
    --box-shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);




}



body {
    background-color: var(--primary-background) !important;
    font-family: var(--font-family) !important;
}

a {
    color: var(--neutral-70, #757575) !important;

    /* Body Text 2/Regular */
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */

    text-decoration: none;

}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--neutral-10) !important;
}


/* COLOR */
.primary-background {
    background-color: var(--primary-background);
}

.neutral-10 {
    color: #FFFFFF;
}


/* Button style  */
/* Btn Primary */
.btn-primary {
    background-color: var(--primary-main);
    padding: 0.5rem 0.75rem;
    border: none;

    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: var(--neutral-10);

    box-shadow: var(--box-shadow-1);
    border-radius: 6.25rem;
    gap: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background: var(--primary-hover);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

.btn-primary:focus {
    outline: none;
}

.btn-primary:active {
    outline: 3px solid rgba(255, 38, 56, 0.20) !important;
    background: #6E0708;
}

/* Btn dark */
.btn-dark {
    background-color: var(--primary-card-background);
    padding: 0.5rem 0.75rem;
    border: none;

    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: var(--neutral-10);

    box-shadow: var(--box-shadow-1);
    border-radius: 6.25rem;
    gap: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Btn secondary*/
.btn-secondary {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    border-radius: 6.25rem;
    background-color: #F1F1F1;
    color: var(--neutral-90);
    box-shadow: var(--box-shadow-1);

    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;

    border: none;

    line-height: 1.5rem;
    /* 150% */
    letter-spacing: -0.011rem;
    ;
}


/* Btn Dropdown */
.btn-dropdown-outline {
    color: var(--neutral-70) !important;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
    border: none !important;
    outline: none !important;
    padding-right: 0px !important;
}

.dropdown-item {
    color: var(--neutral-10) !important;
}

.dropdown-item.active {
    background-color: var(--primary-main) !important;
}

.dropdown-menu-dark {
    background-color: var(--primary-card-background) !important;
}

/* Btn input */
.btn-input-primary>input {
    border-radius: 6.25rem 0rem 0rem 6.25rem;
    border: 1px solid var(--neutral-50, #C2C2C2);
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.08) inset;

    color: var(--neutral-80, #616161);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
    letter-spacing: -0.00525rem;
}

.btn-input-primary>input:hover {
    outline: 3px solid rgba(255, 38, 56, 0.20) !important;
}

.btn-input-primary>input:focus {
    outline: 3px solid rgba(255, 38, 56, 0.20) !important;
    box-shadow: none;
}

.btn-input-primary>input:active {
    outline: none !important;
}

/*btn outline*/
/*btn text*/
/*btn icon*/
/*action btn*/
/*rounded*/


/* ICON */
.bottom-chevron {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../svg/chevron-down.svg);
    vertical-align: middle;
}

.tiktok-hero-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../svg/tiktok-hero.svg);
    vertical-align: middle;
}

.play-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../svg/play.svg);
    vertical-align: middle;
}

.like-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../svg/heart.svg);
    vertical-align: middle;
}

.spotify-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../svg/spotify.svg);
    vertical-align: middle;
}

.trending-up-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../svg/trending-up.svg);
    vertical-align: middle;
}

.tiktok-footer-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../svg/tiktok.svg);
    vertical-align: middle;
}


/* TEXT */

/* regular */
.heading-1-regular {
    /* Heading 1/Regular */
    font-family: var(--font-family);
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.5rem;
    /* 130% */
}

.heading-2-regular {
    /* Heading 2/Regular */
    font-family: var(--font-family);
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.25rem;
    /* 131.25% */
}

.heading-3-regular {
    /* Heading 3/Regular */
    font-family: var(--font-family);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.75rem;
    /* 135.714% */
}

.heading-4-regular {
    /* Heading 4/Regular */
    font-family: var(--font-family);
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.25rem;
    /* 130.769% */
}

.heading-5-regular {
    /* Heading 5/Regular */
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.25rem;
    /* 130% */
}

.heading-6-regular {
    /* Heading 6/Regular */
    font-family: var(--font-family);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    /* 133.333% */
}

.heading-7-regular {
    /* Heading 7/Regular  */
    font-family: var(--font-family);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem;
    /* 137.5% */
}

.subtitle-1-regular {
    /* Subtitle 1/Regular */
    font-family: var(--font-family);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    /* 128.571% */
}

.subtitle-2-regular {
    /* Subtitle 2/Regular */
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    /* 133.333% */
}

.subtitle-3-regular {
    /* Body Text 1/Regular */
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
}

.body-text-1-regular {
    /* Body Text 1/Regular */
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
}

.body-text-2-regular {
    /* Body Text 2/Regular */
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
}

.caption-regular {
    /* Caption/Regular */
    font-family: var(--font-family);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    /* 133.333% */
}

.overline-regular {
    /* Overline/Regular */
    font-family: var(--font-family);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75rem;
    /* 120% */
}

.button-medium {
    /* Button/Medium */
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */
}

/* Medium */
.heading-1-medium {
    /* Heading 1/Medium */
    font-family: var(--font-family);
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.5rem;
    /* 130% */
}

.heading-2-medium {
    /* Heading 2/Medium */
    font-family: var(--font-family);
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.25rem;
    /* 131.25% */
}

.heading-3-medium {
    /* Heading 3/Medium */
    font-family: var(--font-family);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.75rem;
    /* 135.714% */
}

.heading-4-medium {
    /* Heading 4/Medium */
    font-family: var(--font-family);
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.25rem;
    /* 130.769% */
}

.heading-5-medium {
    /* Heading 5/Medium */
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem;
    /* 130% */
}

.heading-6-medium {
    /* Heading 6/Medium */
    font-family: var(--font-family);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    /* 133.333% */
}

.heading-7-medium {
    /* Heading 7/Medium  */
    font-family: var(--font-family);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    /* 137.5% */
}

.subtitle-1-medium {
    /* Subtitle 1/Medium */
    font-family: var(--font-family);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem;
    /* 128.571% */
}

.subtitle-2-medium {
    /* Subtitle 2/Medium */
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    /* 133.333% */
}

.subtitle-3-medium {
    /* Subtitle 3/Medium */
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    /* 140% */
}

.body-text-1-medium {
    /* Body Text 1/Bold */
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    /* 150% */
}

.body-text-2-medium {
    /* Body Text 2/Bold */
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    /* 142.857% */
}

/* Semi Bold */
.heading-1-semi-bold {
    /* Heading 1/Semi Bold */
    font-family: var(--font-family);
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6.5rem;
    /* 130% */
}

.heading-2-semi-bold {
    /* Heading 2/Semi Bold */
    font-family: var(--font-family);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.25rem;
    /* 131.25% */
}

.heading-3-semi-bold {
    /* Heading 3/Semi Bold */
    font-family: var(--font-family);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.75rem;
    /* 135.714% */
}

.heading-4-semi-bold {
    /* Heading 4/Semi Bold */
    font-family: var(--font-family);
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.25rem;
    /* 130.769% */
}

.heading-5-semi-bold {
    /* Heading 5/Semi Bold */
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.25rem;
    /* 130% */
}

.heading-6-semi-bold {
    /* Heading 6/Semi Bold */
    font-family: var(--font-family);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    /* 133.333% */
}

.heading-7-semi-bold {
    /* Heading 7/Semi Bold  */
    font-family: var(--font-family);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.75rem;
    /* 137.5% */
}

.body-text-1-bold {
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    /* 150% */
}

.subtitle-1-bold {
    /* Subtitle 1/Bold */
    font-family: var(--font-family);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    /* 128.571% */
}

.subtitle-2-bold {
    /* Subtitle 2/Bold */
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    /* 133.333% */
}

/* Bold */
.heading-1-bold {
    /* Heading 1/Bold */
    font-family: var(--font-family);
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.5rem;
    /* 130% */
}

.heading-2-bold {
    /* Heading 2/Bold */
    font-family: var(--font-family);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.25rem;
    /* 131.25% */
}

.heading-3-bold {
    /* Heading 3/Bold */
    font-family: var(--font-family);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.75rem;
    /* 135.714% */
}

.heading-4-bold {
    /* Heading 4/Bold */
    font-family: var(--font-family);
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.25rem;
    /* 130.769% */
}

.heading-5-bold {
    /* Heading 5/Bold */
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem;
    /* 130% */
}

.heading-6-bold {
    /* Heading 6/Bold */
    font-family: var(--font-family);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    /* 133.333% */
}

.heading-7-bold {
    /* Heading 7/Bold */
    font-family: var(--font-family);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.75rem;
    /* 137.5% */
}

.display-extra-bold {
    /* Display/Extra Bold */
    font-family: Manrope;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 8rem;
    /* 133.333% */
}






/* SPACER */
.margin-left-1rem {
    margin-left: 1rem;
}

.mt-787 {
    margin-top: 7.87rem;
}

.mt-137 {
    margin-top: 1.37rem;
}

.ml-1-25 {
    margin-left: 1.25rem;
}

.mt-1-5 {
    margin-top: 1.5rem;

}

.mt-2-5 {
    margin-top: 2.5rem;
}

.ml-025 {
    margin-left: .25rem;
}

/* COLOR */
.neutral-70 {
    color: var(--neutral-70, #757575);
}